<!DOCTYPE html>
<html lang="en">

<head>
    <link href="css/homepage-pkg.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>
<div class="y-container homepage-hero"
     style="background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/65e6a224ada4/assets/img/home/hero_photos/cz8iYo13MpBBGlFLlkA8Sw.jpg)">
    <div class="y-container_content">
        <ul class="offscreen">
            <li>
                <a href="#header_find_form" rel="nofollow">
                    Skip to Search Form
                </a>
                <div style="display: none;"><a href="qqtfdsbt.html" id="dwrqdseddeecaebq" rel="file">twrztfcbrddqzfycvwtwrzt</a>
                </div>
            </li>
            <li>
                <a href="#header-nav" rel="nofollow">
                    Skip to Navigation
                </a>
            </li>
            <li>
                <a href="#page-content" rel="nofollow">
                    Skip to Page Content
                </a>
            </li>
        </ul>


        <div class="hero-header js-main-header">
            <div class="arrange arrange--18">
                <div class="arrange_unit arrange_unit--fill">
                    <div class="hero-header_nav hero-header_nav--main nowrap">
                        <ul class="header-nav" id="header-nav">
                            <li id="write-review" class="header-nav_item js-analytics-click"
                                data-analytics-label="write-review">
                                <a class="header-nav_link" href="">
                                    Write a Review
                                </a>
                            </li>
                            <li id="events" class="header-nav_item js-analytics-click" data-analytics-label="events">
                                <a class="header-nav_link" href="">
                                    Events
                                </a>
                            </li>
                            <li id="talk" class="header-nav_item js-analytics-click" data-analytics-label="talk">
                                <a class="header-nav_link" href="">
                                    Talk
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="arrange_unit nowrap">
                    <ul class="header-nav hero-header_nav main-header_account">
                        <li class="header-nav_item u-space-r2" id="header-log-in">
                            <a class="header-nav_link header-nav_link--log-in js-analytics-click" href=""
                               data-analytics-label="login">
                                Log In
                            </a>
                        </li>
                        <li class="header-nav_item u-space-r0 js-analytics-click" id="header-sign-up"
                            data-analytics-label="signup">
                            <a href="" class="ybtn ybtn--primary header-nav_button nowrap">Sign Up</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="homepage-hero_inner">
            <div class="u-text-centered">
                <h1 class="homepage-hero_logo" id="logo">
                    <a href="/">Yelp</a>
                </h1>
            </div>

            <div class="business-search-form main-search yform u-space-b0 js-business-search-form">
                <div class="arrange arrange--equal arrange--stack-small">

                    <div class="arrange_unit">
                        <div class="main-search_suggestions-field search-field-container find-decorator">
                            <label class="pseudo-input business-search-form_input business-search-form_input--find"
                                   data-component-bound="true">
                                <div class="pseudo-input_wrapper">
                                    <span class="pseudo-input_text business-search-form_input-text">Click to search: </span>
                                    <span class="pseudo-input_field-holder" style="position: relative; display: block;"
                                          data-component-bound="true">

                                        <a href="searchPage.html">
                                            Sushi
                                        </a>
                                        or
                                        <a href="searchPage.html">
                                            Cafe
                                        </a>
                            </span>
                                </div>
                            </label>

                        </div>
                    </div>

                </div>
            </div>


            <ul class="homepage-hero_categories js-header-nav text-centered">
                <li class="homepage-hero_category js-analytics-click" data-analytics-label="restaurants">
                    <div>
                    <span aria-hidden="true" style="width: 18px; height: 18px;"
                          class="icon icon--18-food icon--size-18 icon--inverse icon--fallback-inverted">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#18x18_food"></use>
    </svg>
</span>
                        <a class="homepage-hero_link" href="">Restaurants</a>
                    </div>
                </li>
                <li class="homepage-hero_category js-analytics-click" data-analytics-label="nightlife">
                    <div>
                    <span aria-hidden="true" style="width: 18px; height: 18px;"
                          class="icon icon--18-nightlife icon--size-18 icon--inverse icon--fallback-inverted">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#18x18_nightlife"></use>
    </svg>
</span>
                        <a class="homepage-hero_link" href="">Nightlife</a>
                    </div>
                </li>
                <li class="homepage-hero_category js-analytics-click dropdown js-category-dropdown dropdown--arrow dropdown--fade"
                    data-analytics-label="local services" data-component-bound="true">
                    <div class="js-dropdown-toggle dropdown_toggle">
                    <span aria-hidden="true" style="width: 18px; height: 18px;"
                          class="icon icon--18-tools icon--size-18 icon--inverse icon--fallback-inverted">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#18x18_tools"></use>
    </svg>
</span>
                        <a class="homepage-hero_link">Local Services</a>
                        <span aria-hidden="true" style="width: 14px; height: 14px;"
                              class="icon icon--14-triangle-down icon--size-14 icon--inverse icon--fallback-inverted u-triangle-direction-down dropdown_arrow">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#14x14_triangle_down"></use>
    </svg>
</span>
                    </div>

                </li>
                <li class="homepage-hero_category js-analytics-click" data-analytics-label="delivery">
                    <div>
                    <span aria-hidden="true" style="width: 18px; height: 18px;"
                          class="icon icon--18-order icon--size-18 icon--inverse icon--fallback-inverted">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#18x18_order"></use>
    </svg>
</span>
                        <a class="homepage-hero_link" href="">Delivery</a>
                    </div>
                </li>
            </ul>


            <div class="u-text-centered homepage-hero_biz u-size-full">

                <div class="business-link-hovercard js-business-link-hovercard business-link-hovercard--strong business-link-hovercard--inline">
        <span class="business-link-hovercard_business-link js-business-link">
                    <a class="biz-name js-analytics-click" data-analytics-label="biz-name" href="" data-hovercard-id=""><span>Revival</span></a>

        </span>


                </div>

            </div>
            <div class="u-text-centered homepage-hero_photo-owner u-size-full">


                <div data-hypernova-key="homepage__8f208904ce30dc62b4cbbf245d2b1c8e32292cdf__homepage__PhotoAuthorText__dynamic"
                     data-hypernova-id="ba9cd188-c97e-4c67-ba9c-564440dfc467"><p data-reactroot="" data-reactid="1"
                                                                                 data-react-checksum="-771670889">Photo
                    by <a class="homepage-hero_photo-owner-link"
                          href="/user_details?userid=0N-Ztg6bPqLpUqvvb29JaQ"><strong>Ashley C.</strong></a></p></div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
