<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comparison Prototype - Results</title>

    <link href="css/www-pkg.css" rel="stylesheet" type="text/css">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script src="./js/SearchResults.js"></script>


    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>
<body onload="loadPage()" ng-app="Comparison">

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script src="./js/ComparisonController.js"></script>


<div class="main-header main-content-wrap js-main-header webview-hidden">
    <div class="main-header_wrapper">
        <div class="content-container">

            <div class="arrange arrange--18 arrange--middle main-header_arrange">

                <div class="arrange_unit main-header--full_arrange_unit">

                    <div class="main-header_logo js-analytics-click" id="logo" data-analytics-label="logo">
                        <a href="/">Yelp</a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!-- Main content area for search results and comparison tool-->
<div class="content-container" ng-controller="MainCtrl">
    <div class="container">
        <div class="clearfix layout-block layout-a scroll-map-container search-results-block">
            <!-- Listed search results: Appear left side of page -->
            <div class="column column-alpha">
                <div class="results-wrapper indexed-biz-archive" style="position: relative; min-height: 345px;">
                    <div class="search-results-content">
                        <ul id="resultsLocSushi" class="ylist ylist-bordered search-results">
                            <li class="searchRes" class="regular-search-result">
                                <div draggable="false" class="search-result natural-search-result"
                                     data-biz-id="JeDerIcvQsgd9q6aKXlUjw" data-key="1" data-component-bound="true">
                                    <div class="biz-listing-large">
                                        <img class ="searchImg" id="sushi1" draggable="true" ondragstart="drag(event)"
                                             src="img/sushi1.PNG">
                                    </div>
                                </div>
                            </li>
                            <li class="searchRes" class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="I0r8kMimYW2BY6lINcZRFA"
                                     data-key="2" data-component-bound="true">
                                    <div class="biz-listing-large">

                                        <img class ="searchImg" id="sushi2" draggable="true" ondragstart="drag(event)"
                                             src="img/sushi2.PNG">
                                    </div>
                                </div>


                            </li>
                            <li class="searchRes" class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="as2xQt48ltKKDUQbMCBrMw"
                                     data-key="3" data-component-bound="true">
                                    <div class="biz-listing-large">
                                        <img class ="searchImg" id="sushi3" draggable="true" ondragstart="drag(event)"
                                             src="img/sushi3.PNG">

                                    </div>




                                </div>


                            </li>
                        </ul>

                        <ul id="resultsLocCafe" class="ylist ylist-bordered search-results">
                            <li class="searchRes" class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="_o4eCCseSJDd4fJjG1TV8A" data-key="1" data-component-bound="true">
                                    <div class="biz-listing-large">
                                        <img class ="searchImg" id="cafe1" draggable="true" ondragstart="drag(event)" src="img/cafe1.PNG">
                                    </div>
                                </div>


                            </li>
                            <li class="searchRes" class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="dX6y4zA-1AtWsYnT4AZXNg" data-key="2" data-component-bound="true">
                                    <div class="biz-listing-large">
                                        <img class ="searchImg" id="cafe2" draggable="true" ondragstart="drag(event)"
                                             src="img/cafe2.PNG">
                                    </div>

                                </div>


                            </li>
                            <li class="searchRes" class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="65ZxYdrwbL23j0uV5xXTDA" data-key="3">
                                    <div class="biz-listing-large">
                                        <img class ="searchImg" id="cafe3" draggable="true" ondragstart="drag(event)" src="img/cafe3.PNG">
                                    </div>

                                </div>


                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /Listed search results -->
            <!-- Comparison Tool: Appear right side of page -->
            <div class="column column-beta" style="text-align: center">
                <div id="div1" class="compareDiv" ondrop="drop(event,'top')" ondragover="allowDrop(event)" style="width: 400px;height: 200px;border: solid;overflow: scroll">
                </div>
                <div id="div2" class="compareDiv" ondrop="drop(event,'bottom')" ondragover="allowDrop(event)" style="width: 400px;height: 200px;border: solid;overflow: scroll">
                </div>
                <
                <div style="width:400px;text-align: right">

                    <md-button class="md-raised md-primary">
                        <a style="color:white" href="searchPage.html">Reset Choices</a>
                    </md-button>
                    <md-button ng-disabled="true" id="compareChoicesButton" ng-click="openDialog()" class="md-raised md-primary">Compare Choices</md-button>
                </div>

            </div> <!-- /Comparison Tool-->
        </div>
    </div>
</div>

</body>
</html>