<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="css/www-pkg.css" rel="stylesheet" type="text/css">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script src="./js/SearchResults.js"></script>

</head>
<body>

<div class="main-header main-content-wrap js-main-header webview-hidden">
    <div class="main-header_wrapper">
        <div class="content-container">

            <div class="arrange arrange--18 arrange--middle main-header_arrange">

                <div class="arrange_unit main-header--full_arrange_unit">

                    <div class="main-header_logo js-analytics-click" id="logo" data-analytics-label="logo">
                        <a href="/">Yelp</a>
                    </div>

                </div>



                <div class="arrange_unit arrange_unit--fill align-middle main-header--full_arrange_unit main-header_search-container">
                    <div class="main-header_search responsive-hidden-medium-only">
                        <div method="get" action="/search" id="header_find_form" class="main-search yform u-space-b0" role="search" data-component-bound="true">
                            <div class="arrange arrange--stack">
                                <div class="arrange_unit arrange_unit--fill">
                                    <div class="arrange arrange--equal arrange--stack">
                                        <div class="arrange_unit main-search_search-field-arrange">
                                            <div class="main-search_suggestions-field search-field-container find-decorator">
                                                <label class="main-search_pseudo-input main-search_pseudo-input--find pseudo-input">
                                                    <span class="pseudo-input_text">Click to search: </span>
                                                    <span class="pseudo-input_field-holder" style="position: relative; display: block;" data-component-bound="true">
                                                        <span class="pseudo-input_field-holder" style="position: relative; display: block;"
                                                              data-component-bound="true">

                                        <a onclick="loadResults('sushi')">
                                            Sushi
                                        </a>
                                        or
                                        <a onclick="loadResults('cafe')">
                                            Cafe
                                        </a>
                            </span>
            </span>
                                                </label>
                                                <div class="main-search_suggestions suggestions-list-container search-suggestions-list-container hidden" data-component-bound="true">
                                                    <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="arrange_unit main-search_near-field-arrange  main-search_search-field-arrange arrange_unit--stack-12">
                                            <div class="main-search_suggestions-field search-field-container near-decorator">
                                                <label class="main-search_pseudo-input main-search_pseudo-input--near pseudo-input">
                                                    <span class="pseudo-input_text">Near</span>
                                                    <span class="main-search_field-holder pseudo-input_field-holder">
                <input disabled maxlength="80" id="dropperText_Mast" autocomplete="off" value="Vancouver, BC" placeholder="address, neighbourhood, city, prov. or postal code" data-query="Vancouver, BC" class="main-search_field pseudo-input_field" aria-autocomplete="list" tabindex="2" data-component-bound="true"><input type="hidden" maxlength="80" data-component-bound="true" name="find_loc" value="Vancouver, BC">
                <input type="hidden" name="ns" value="1">
            </span>
                                                </label>
                                                <div class="main-search_suggestions suggestions-list-container location-suggestions-list-container hidden" data-component-bound="true">
                                                    <ul class="suggestions-list" role="listbox" aria-label="Search results"></ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="arrange_unit main-search_actions arrange_unit--stack-12">
                                    <div class="arrange arrange--wrap arrange--6">
                                        <div class="arrange_unit hidden-non-responsive-inline-block responsive-visible-small-inline-block main-search_action">

                                            <a class="ybtn ybtn--primary main-header_button js-search-close main-search_close">
                                                Cancel
                                            </a>
                                        </div>
                                        <div class="arrange_unit main-search_action arrange_unit--stack-12">

                                            <button class="ybtn ybtn--primary main-search_submit main-header_button" id="header-search-submit" tabindex="3" title="Search" type="submit" value="submit">
                            <span class="main-search_action-icon-wrap js-search-icon-wrap">
                                <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-search icon--size-24 icon--inverse icon--fallback-inverted">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#24x24_search"></use>
    </svg>
</span>
                                <span class="u-offscreen">Search</span>
                            </span>
                                                <div class="circle-spinner js-circle-spinner hidden">
                                                    <div class="circle-spinner_segment container1">
                                                        <div class="circle1"></div>
                                                        <div class="circle2"></div>
                                                        <div class="circle3"></div>
                                                        <div class="circle4"></div>
                                                    </div>
                                                    <div class="circle-spinner_segment container2">
                                                        <div class="circle1"></div>
                                                        <div class="circle2"></div>
                                                        <div class="circle3"></div>
                                                        <div class="circle4"></div>
                                                    </div>
                                                    <div class="circle-spinner_segment container3">
                                                        <div class="circle1"></div>
                                                        <div class="circle2"></div>
                                                        <div class="circle3"></div>
                                                        <div class="circle4"></div>
                                                    </div>
                                                </div>

                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>



                <div class="arrange_unit main-header--full_arrange_unit">
                    <div class="arrange arrange--6">
                        <div class="arrange_unit u-nowrap">
                            <div class="main-header_account webview-hidden">
                                <ul class="header-nav">
                                    <li class="header-nav_item responsive-hidden-small js-analytics-click" data-analytics-label="signup">

                                    </li>
                                    <li class="header-nav_item">
                                        <a class="header-nav_link header-nav_link--log-in js-log-in-button" href="https://www.yelp.ca/login?return_url=%2Fsearch%3Ffind_desc%3Dsushi%26find_loc%3DVancouver%252C%2BBC%26ns%3D1">
                                            Log In
                                        </a>

                                    </li>
                                </ul>

                                <div id="topbar-account-item" class="user-account clearfix drop-menu-origin hidden-non-responsive-block responsive-visible-small-block" data-component-bound="true">

                                    <a class="ybtn ybtn--primary drop-menu-link user-account_button" href="javascript:;" id="topbar-account-link" data-component-bound="true">
            <span aria-hidden="true" style="width: 14px; height: 14px;" class="icon icon--14-triangle-down icon--size-14 icon--inverse icon--fallback-inverted u-triangle-direction-down user-account_button-arrow responsive-visible-large-inline-block">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#14x14_triangle_down"></use>
    </svg>
</span>
                                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-hamburger icon--size-24 icon--inverse icon--fallback-inverted drop-menu-link_open">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#24x24_hamburger"></use>
    </svg>
</span>
                                        <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-close icon--size-24 icon--inverse icon--fallback-inverted drop-menu-link_close">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#24x24_close"></use>
    </svg>
</span>
                                    </a>
                                    <div id="topbar-account-wrap" class="drop-menu drop-menu-has-arrow" data-component-bound="true">
                                        <div class="drop-menu-arrow responsive-hidden-small"></div>

                                        <div class="arrange arrange--6 arrange--equal drop-menu_auth-buttons">
                                            <div class="arrange_unit">

                                                <a class="ybtn ybtn-full" href="https://www.yelp.ca/login?return_url=%2Fsearch%3Ffind_desc%3Dsushi%26find_loc%3DVancouver%252C%2BBC%26ns%3D1">
                                                    Login
                                                </a>
                                            </div>
                                            <div class="arrange_unit">

                                                <a class="ybtn ybtn--primary ybtn-full" href="/signup">
                                                    Sign Up
                                                </a>
                                            </div>
                                        </div>

                                        <ul class="drop-menu-group--nav drop-menu-group">
                                            <li class="drop-down-menu-link">
                                                <a class="js-analytics-click arrange arrange--middle arrange--6" href="/user_details" data-analytics-label="">
                                                    <strong class="arrange_unit">
                    <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-profile icon--size-24 u-space-r1">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#24x24_profile"></use>
    </svg>
</span>About Me
                                                    </strong>
                                                    <span class="arrange_unit arrange_unit--fill u-text-right">
                <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-chevron-right icon--size-24 hidden-non-responsive-inline-block responsive-visible-medium-inline-block">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#24x24_chevron_right"></use>
    </svg>
</span>
            </span>
                                                </a>
                                            </li>



                                            <li class="drop-down-menu-link hidden-non-responsive-block responsive-visible-medium-block">
                                                <a class="js-analytics-click arrange arrange--middle arrange--6" href="/talk" data-analytics-label="">
                                                    <strong class="arrange_unit">
                    <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-talk icon--size-24 u-space-r1">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#24x24_talk"></use>
    </svg>
</span>Talk
                                                    </strong>
                                                    <span class="arrange_unit arrange_unit--fill u-text-right">
                <span aria-hidden="true" style="width: 24px; height: 24px;" class="icon icon--24-chevron-right icon--size-24 hidden-non-responsive-inline-block responsive-visible-medium-inline-block">
    <svg class="icon_svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#24x24_chevron_right"></use>
    </svg>
</span>
            </span>
                                                </a>
                                            </li>

                                        </ul>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="content-container">
    <div class="container">
        <div class="clearfix layout-block layout-a scroll-map-container search-results-block">
            <div class="column column-alpha">
                <div class="results-wrapper indexed-biz-archive" style="position: relative; min-height: 345px;">
                    <div class="search-results-content">
                        <ul id="resultsLocSushi" class="ylist ylist-bordered search-results">
                            <li class="regular-search-result">
                                <div draggable="false" class="search-result natural-search-result"
                                     data-biz-id="JeDerIcvQsgd9q6aKXlUjw" data-key="1" data-component-bound="true">
                                    <div class="biz-listing-large">
                                        <img id="sushi1" draggable="true" ondragstart="drag(event)"
                                             src="./img/sushi1.png">
                                    </div>
                                </div>
                            </li>
                            <li class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="I0r8kMimYW2BY6lINcZRFA"
                                     data-key="2" data-component-bound="true">
                                    <div class="biz-listing-large">

                                        <img id="sushi2" draggable="true" ondragstart="drag(event)"
                                             src="./img/sushi2.png">
                                    </div>
                                </div>


                            </li>
                            <li class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="as2xQt48ltKKDUQbMCBrMw"
                                     data-key="3" data-component-bound="true">
                                    <div class="biz-listing-large">
                                        <div class="main-attributes">
                                            <div class="media-block media-block--12">
                                                <div class="media-avatar">
                                                    <div class="photo-box pb-90s">
                                                        <a href="/biz/shizen-ya-vancouver?osq=sushi"
                                                           class="js-analytics-click" data-analytics-label="biz-photo">
                                                            <img alt="Shizen Ya" class="photo-box-img" height="90"
                                                                 src="https://s3-media4.fl.yelpcdn.com/bphoto/C_r14H_IV5HXWtT56GkJdA/90s.jpg"
                                                                 srcset="https://s3-media4.fl.yelpcdn.com/bphoto/C_r14H_IV5HXWtT56GkJdA/180s.jpg 2.00x,https://s3-media4.fl.yelpcdn.com/bphoto/C_r14H_IV5HXWtT56GkJdA/ms.jpg 1.11x,https://s3-media4.fl.yelpcdn.com/bphoto/C_r14H_IV5HXWtT56GkJdA/120s.jpg 1.33x,https://s3-media4.fl.yelpcdn.com/bphoto/C_r14H_IV5HXWtT56GkJdA/168s.jpg 1.87x,https://s3-media4.fl.yelpcdn.com/bphoto/C_r14H_IV5HXWtT56GkJdA/ls.jpg 2.78x,https://s3-media4.fl.yelpcdn.com/bphoto/C_r14H_IV5HXWtT56GkJdA/258s.jpg 2.87x"
                                                                 width="90">

                                                        </a>

                                                    </div>


                                                </div>
                                                <div class="media-story">
                                                    <h3 class="search-result-title">
                                    <span class="indexed-biz-name">3.         <a class="biz-name js-analytics-click"
                                                                                 data-analytics-label="biz-name"
                                                                                 href="/biz/shizen-ya-vancouver?osq=sushi"
                                                                                 data-hovercard-id="JFJl7eJ5-Z2LodZffHDcVw"><span>Shizen Ya</span></a>
</span>


                                                    </h3>

                                                    <div class="biz-rating biz-rating-large clearfix">


                                                        <div class="i-stars i-stars--regular-4 rating-large"
                                                             title="4.0 star rating">
                                                            <img class="offscreen" height="303"
                                                                 src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png"
                                                                 width="84" alt="4.0 star rating">
                                                        </div>


                                                        <span class="review-count rating-qualifier">
            448 reviews
    </span>

                                                    </div>


                                                    <div class="price-category">
                <span class="bullet-after">

        <span class="business-attribute price-range">$$</span>
        </span>
                                                        <span class="category-str-list">
                    <a href="/search?cflt=japanese&amp;find_desc=sushi&amp;find_loc=Vancouver%2C+BC">Japanese</a>,
                    <a href="/search?cflt=sushi&amp;find_desc=sushi&amp;find_loc=Vancouver%2C+BC">Sushi Bars</a>,
                    <a href="/search?cflt=bars&amp;find_desc=sushi&amp;find_loc=Vancouver%2C+BC">Bars</a>
    </span>


                                                    </div>


                                                    <ul class="search-result_tags">
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="secondary-attributes">
                            <span class="neighborhood-str-list">
            Downtown        </span>

                                            <address>
                                                965 Hornby Street<br>Vancouver, BC V6Z 1V3
                                            </address>


                                            <span class="offscreen">Phone number</span>
                                            <span class="biz-phone">
        (604) 568-0013
    </span>

                                        </div>
                                    </div>


                                    <div class="snippet-block media-block">
                                        <div class="media-avatar">
                                            <div class="photo-box pb-30s" data-hovercard-id="ZbHNp3GbdP0uXPQZfr5-VA">
                                                <a href="/user_details?userid=ckG7-tdMfxiukdA4jEnE1Q">
                                                    <img alt="Issabelle F." class="photo-box-img" height="30"
                                                         src="https://s3-media2.fl.yelpcdn.com/photo/cdDmg40jj2QARs7pOPkSHw/30s.jpg"
                                                         srcset="https://s3-media2.fl.yelpcdn.com/photo/cdDmg40jj2QARs7pOPkSHw/60s.jpg 2.00x,https://s3-media2.fl.yelpcdn.com/photo/cdDmg40jj2QARs7pOPkSHw/90s.jpg 3.00x,https://s3-media2.fl.yelpcdn.com/photo/cdDmg40jj2QARs7pOPkSHw/ss.jpg 1.33x"
                                                         width="30">

                                                </a>

                                            </div>

                                        </div>
                                        <div class="media-story">
                                            <p class="snippet">
                                                It's no secret that Vancouver has some world-class <span
                                                    class="highlighted">sushi</span>. So when my colleague came to visit
                                                me she requested that we have <span class="highlighted">sushi</span> the
                                                first night she was in town. I wanted to find a…
                                                <a href="/biz/shizen-ya-vancouver?hrid=MT4Hnc5IRNpun-CVp-75mQ&amp;osq=sushi"
                                                   class="nowrap">read more</a>
                                            </p>
                                        </div>
                                    </div>


                                </div>


                            </li>
                        </ul>

                        <ul id="resultsLocCafe" class="ylist ylist-bordered search-results">
                            <li class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="_o4eCCseSJDd4fJjG1TV8A" data-key="1" data-component-bound="true">
                                    <div class="biz-listing-large">
                                        <div class="main-attributes">
                                            <div class="media-block media-block--12">
                                                <div class="media-avatar">
                                                    <div class="photo-box pb-90s">
                                                        <a href="/biz/the-only-cafe-vancouver?osq=cafe" class="js-analytics-click" data-analytics-label="biz-photo">
                                                            <img alt="The Only Cafe" class="photo-box-img" height="90" src="https://s3-media3.fl.yelpcdn.com/bphoto/DA_PuV9ejoE7o7hcpf63kQ/90s.jpg" srcset="https://s3-media3.fl.yelpcdn.com/bphoto/DA_PuV9ejoE7o7hcpf63kQ/180s.jpg 2.00x,https://s3-media3.fl.yelpcdn.com/bphoto/DA_PuV9ejoE7o7hcpf63kQ/ms.jpg 1.11x,https://s3-media3.fl.yelpcdn.com/bphoto/DA_PuV9ejoE7o7hcpf63kQ/120s.jpg 1.33x,https://s3-media3.fl.yelpcdn.com/bphoto/DA_PuV9ejoE7o7hcpf63kQ/168s.jpg 1.87x,https://s3-media3.fl.yelpcdn.com/bphoto/DA_PuV9ejoE7o7hcpf63kQ/ls.jpg 2.78x,https://s3-media3.fl.yelpcdn.com/bphoto/DA_PuV9ejoE7o7hcpf63kQ/258s.jpg 2.87x" width="90">

                                                        </a>

                                                    </div>




                                                </div>
                                                <div class="media-story">
                                                    <h3 class="search-result-title">
                                    <span class="indexed-biz-name">1.         <a class="biz-name js-analytics-click" data-analytics-label="biz-name" href="/biz/the-only-cafe-vancouver?osq=cafe" data-hovercard-id="tHO6geczfhmvmS0Jc409-w"><span>The Only <span class="highlighted">Cafe</span></span></a>
</span>


                                                    </h3>

                                                    <div class="biz-rating biz-rating-large clearfix">




                                                        <div class="i-stars i-stars--regular-4-half rating-large" title="4.5 star rating">
                                                            <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="4.5 star rating">
                                                        </div>


                                                        <span class="review-count rating-qualifier">
            44 reviews
    </span>

                                                    </div>


                                                    <div class="price-category">
                <span class="bullet-after">

        <span class="business-attribute price-range">$</span>
        </span>
                                                        <span class="category-str-list">
                    <a href="/search?cflt=coffee&amp;find_desc=cafe&amp;find_loc=Vancouver%2C+BC">Coffee &amp; Tea</a>,
                    <a href="/search?cflt=desserts&amp;find_desc=cafe&amp;find_loc=Vancouver%2C+BC">Desserts</a>,
                    <a href="/search?cflt=juicebars&amp;find_desc=cafe&amp;find_loc=Vancouver%2C+BC">Juice Bars &amp; Smoothies</a>
    </span>


                                                    </div>




                                                    <ul class="search-result_tags">
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="secondary-attributes">
                            <span class="neighborhood-str-list">
            Kitsilano        </span>

                                            <address>
                                                2678 W 4th Avenue<br>Vancouver, BC V6K 1P7
                                            </address>



                                            <span class="offscreen">Phone number</span>
                                            <span class="biz-phone">
        (778) 379-3299
    </span>

                                        </div>
                                    </div>








                                    <div class="snippet-block media-block">
                                        <div class="media-avatar">
                                            <div class="photo-box pb-30s" data-hovercard-id="tnJoR1aw5fsn4n77Lu4vMg">
                                                <a href="/user_details?userid=thqNHm0GQe1Bn8LmRSWddA">
                                                    <img alt="Joseph H." class="photo-box-img" height="30" src="https://s3-media2.fl.yelpcdn.com/photo/sTQkS3AOOqKJfusKVNlhAw/30s.jpg" srcset="https://s3-media2.fl.yelpcdn.com/photo/sTQkS3AOOqKJfusKVNlhAw/60s.jpg 2.00x,https://s3-media2.fl.yelpcdn.com/photo/sTQkS3AOOqKJfusKVNlhAw/90s.jpg 3.00x,https://s3-media2.fl.yelpcdn.com/photo/sTQkS3AOOqKJfusKVNlhAw/ss.jpg 1.33x" width="30">

                                                </a>

                                            </div>

                                        </div>
                                        <div class="media-story">
                                            <p class="snippet">
                                                Not sure why so many reviews are "not recommended". I'd say all those reviews were spot on about this place. There are probably 4-5 <span class="highlighted">cafes</span> in this area, there's 3 right on this block.…
                                                <a href="/biz/the-only-cafe-vancouver?hrid=EnbvteZ8Q6sdtunQO2PKAw&amp;osq=cafe" class="nowrap">read more</a>
                                            </p>
                                        </div>
                                    </div>




                                </div>


                            </li>
                            <li class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="dX6y4zA-1AtWsYnT4AZXNg" data-key="2" data-component-bound="true">
                                    <div class="biz-listing-large">
                                        <div class="main-attributes">
                                            <div class="media-block media-block--12">
                                                <div class="media-avatar">
                                                    <div class="photo-box pb-90s">
                                                        <a href="/biz/revolver-vancouver?osq=cafe" class="js-analytics-click" data-analytics-label="biz-photo">
                                                            <img alt="Revolver" class="photo-box-img" height="90" src="https://s3-media1.fl.yelpcdn.com/bphoto/RNcD3LjMpA-5LXKgW0rTDA/90s.jpg" srcset="https://s3-media1.fl.yelpcdn.com/bphoto/RNcD3LjMpA-5LXKgW0rTDA/180s.jpg 2.00x,https://s3-media1.fl.yelpcdn.com/bphoto/RNcD3LjMpA-5LXKgW0rTDA/ms.jpg 1.11x,https://s3-media1.fl.yelpcdn.com/bphoto/RNcD3LjMpA-5LXKgW0rTDA/120s.jpg 1.33x,https://s3-media1.fl.yelpcdn.com/bphoto/RNcD3LjMpA-5LXKgW0rTDA/168s.jpg 1.87x,https://s3-media1.fl.yelpcdn.com/bphoto/RNcD3LjMpA-5LXKgW0rTDA/ls.jpg 2.78x,https://s3-media1.fl.yelpcdn.com/bphoto/RNcD3LjMpA-5LXKgW0rTDA/258s.jpg 2.87x" width="90">

                                                        </a>

                                                    </div>




                                                </div>
                                                <div class="media-story">
                                                    <h3 class="search-result-title">
                                    <span class="indexed-biz-name">2.         <a class="biz-name js-analytics-click" data-analytics-label="biz-name" href="/biz/revolver-vancouver?osq=cafe" data-hovercard-id="sy0Ue1qM9TYK3EI1Ul1o4Q"><span>Revolver</span></a>
</span>


                                                    </h3>

                                                    <div class="biz-rating biz-rating-large clearfix">




                                                        <div class="i-stars i-stars--regular-4-half rating-large" title="4.5 star rating">
                                                            <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="4.5 star rating">
                                                        </div>


                                                        <span class="review-count rating-qualifier">
            414 reviews
    </span>

                                                    </div>


                                                    <div class="price-category">
                <span class="bullet-after">

        <span class="business-attribute price-range">$$</span>
        </span>
                                                        <span class="category-str-list">
                    <a href="/search?cflt=coffee&amp;find_desc=cafe&amp;find_loc=Vancouver%2C+BC">Coffee &amp; Tea</a>
    </span>


                                                    </div>




                                                    <ul class="search-result_tags">
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="secondary-attributes">
                            <span class="neighborhood-str-list">
            Gastown, Downtown        </span>

                                            <address>
                                                325 Cambie Street<br>Vancouver, BC V6B 1H7
                                            </address>



                                            <span class="offscreen">Phone number</span>
                                            <span class="biz-phone">
        (604) 558-4444
    </span>

                                        </div>
                                    </div>








                                    <div class="snippet-block media-block">
                                        <div class="media-avatar">
                                            <div class="photo-box pb-30s" data-hovercard-id="IX-SlveqHE18hULzkTLhKg">
                                                <a href="/user_details?userid=d-P3a_i8mcMNIgZPGrW8jA">
                                                    <img alt="Willow B." class="photo-box-img" height="30" src="https://s3-media4.fl.yelpcdn.com/photo/VHV2UmV47rRkkT2JLpyQaw/30s.jpg" srcset="https://s3-media4.fl.yelpcdn.com/photo/VHV2UmV47rRkkT2JLpyQaw/60s.jpg 2.00x,https://s3-media4.fl.yelpcdn.com/photo/VHV2UmV47rRkkT2JLpyQaw/90s.jpg 3.00x,https://s3-media4.fl.yelpcdn.com/photo/VHV2UmV47rRkkT2JLpyQaw/ss.jpg 1.33x" width="30">

                                                </a>

                                            </div>

                                        </div>
                                        <div class="media-story">
                                            <p class="snippet">
                                                Coffee is well done, service is attentive, sweets are pretty average. There is minimal seating and they are busy, be prepared to wait for a table (and don't get it to go). This <span class="highlighted">cafe…</span>
                                                <a href="/biz/revolver-vancouver?hrid=b1_074QW9szrz8GQQROvWQ&amp;osq=cafe" class="nowrap">read more</a>
                                            </p>
                                        </div>
                                    </div>




                                </div>


                            </li>
                            <li class="regular-search-result">
                                <div class="search-result natural-search-result" data-biz-id="65ZxYdrwbL23j0uV5xXTDA" data-key="3">
                                    <div class="biz-listing-large">
                                        <div class="main-attributes">
                                            <div class="media-block media-block--12">
                                                <div class="media-avatar">
                                                    <div class="photo-box pb-90s">
                                                        <a href="/biz/porto-cafe-vancouver?osq=cafe" class="js-analytics-click" data-analytics-label="biz-photo">
                                                            <img alt="Porto Cafe" class="photo-box-img" height="90" src="https://s3-media3.fl.yelpcdn.com/bphoto/2t9i7DTmFsco74uu4AiMZA/90s.jpg" srcset="https://s3-media3.fl.yelpcdn.com/bphoto/2t9i7DTmFsco74uu4AiMZA/180s.jpg 2.00x,https://s3-media3.fl.yelpcdn.com/bphoto/2t9i7DTmFsco74uu4AiMZA/ms.jpg 1.11x,https://s3-media3.fl.yelpcdn.com/bphoto/2t9i7DTmFsco74uu4AiMZA/120s.jpg 1.33x,https://s3-media3.fl.yelpcdn.com/bphoto/2t9i7DTmFsco74uu4AiMZA/168s.jpg 1.87x,https://s3-media3.fl.yelpcdn.com/bphoto/2t9i7DTmFsco74uu4AiMZA/ls.jpg 2.78x,https://s3-media3.fl.yelpcdn.com/bphoto/2t9i7DTmFsco74uu4AiMZA/258s.jpg 2.87x" width="90">

                                                        </a>

                                                    </div>




                                                </div>
                                                <div class="media-story">
                                                    <h3 class="search-result-title">
                                    <span class="indexed-biz-name">3.         <a class="biz-name js-analytics-click" data-analytics-label="biz-name" href="/biz/porto-cafe-vancouver?osq=cafe" data-hovercard-id="uvkLHnnE1PWRvtPKOcRqng"><span>Porto <span class="highlighted">Cafe</span></span></a>
</span>


                                                    </h3>

                                                    <div class="biz-rating biz-rating-large clearfix">




                                                        <div class="i-stars i-stars--regular-4 rating-large" title="4.0 star rating">
                                                            <img class="offscreen" height="303" src="https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png" width="84" alt="4.0 star rating">
                                                        </div>


                                                        <span class="review-count rating-qualifier">
            27 reviews
    </span>

                                                    </div>


                                                    <div class="price-category">
                <span class="bullet-after">

        <span class="business-attribute price-range">$</span>
        </span>
                                                        <span class="category-str-list">
                    <a href="/search?cflt=coffee&amp;find_desc=cafe&amp;find_loc=Vancouver%2C+BC">Coffee &amp; Tea</a>,
                    <a href="/search?cflt=breakfast_brunch&amp;find_desc=cafe&amp;find_loc=Vancouver%2C+BC">Breakfast &amp; Brunch</a>
    </span>


                                                    </div>




                                                    <ul class="search-result_tags">
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="secondary-attributes">
                            <span class="neighborhood-str-list">
            Fairview Slopes        </span>

                                            <address>
                                                2207 Cambie Street<br>Vancouver, BC V6B 6J7
                                            </address>



                                            <span class="offscreen">Phone number</span>
                                            <span class="biz-phone">
        (604) 559-7667
    </span>

                                        </div>
                                    </div>








                                    <div class="snippet-block media-block">
                                        <div class="media-avatar">
                                            <div class="photo-box pb-30s" data-hovercard-id="TUo9NaRRIDLT8Mk32178ww">
                                                <a href="/user_details?userid=M0XcDt17Ct-cXOBG5drllg">
                                                    <img alt="Sharleen L." class="photo-box-img" height="30" src="https://s3-media1.fl.yelpcdn.com/assets/srv0/yelp_styleguide/d53e550ec367/assets/img/default_avatars/user_30_square.png" width="30">

                                                </a>

                                            </div>

                                        </div>
                                        <div class="media-story">
                                            <p class="snippet">
                                                Came here with my bf one day. <span class="highlighted">Cafe</span> is spacious and modern. I ordered a matcha latte with almond milk while my bf had a mocha <span class="highlighted">cafe</span> with soy milk. The barista accidentally made my…
                                                <a href="/biz/porto-cafe-vancouver?hrid=aJ582bsXrhxZGyuMdUG5YQ&amp;osq=cafe" class="nowrap">read more</a>
                                            </p>
                                        </div>
                                    </div>




                                </div>


                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="column column-beta" style="text-align: center">
                <div id="div1" class="compareDiv" ondrop="drop(event,'top')" ondragover="allowDrop(event)" style="width: 400px;height: 200px;border: dashed;overflow: scroll">
                </div>
                <div id="div2" class="compareDiv" ondrop="drop(event,'bottom')" ondragover="allowDrop(event)" style="width: 400px;height: 200px;border: dashed;overflow: scroll">
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>